html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: calc(100% - 60px);
}

.footer {
    height: 60px;
    background: #f5f5f5;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    position: sticky;
    bottom: 0;
}
